*.o
*.obj
*.out
*.exe
*.a
*.so
*.dylib
assembler/bin/
assembler/build/
assembler/minirisc-as

programs/build/
*.hex
*.bin
*.vcd
*.wdb
*.wcfg.bak

*.jou
*.log
*.str
*.hw/
*.ip_user_files/
*.sim/
*.runs/
*.cache/
*.gen/
*.dcp
.Xil/

vivado/minirisc/
vivado/*.xpr

.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*~
